# Play 1 s of silence if asound.state does not exists so lxpanel's volumealsa
# can initialize properly.

[Unit]
Description=alsa init service
ConditionPathExists=!/etc/alsa/state-daemon.conf
ConditionPathExists=!/var/lib/alsa/asound.state
DefaultDependencies=no
After=local-fs.target sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/bin/aplay -q -d 1 -c 1 -t raw -f S32_LE /dev/zero

[Install]
WantedBy=basic.target
