[Unit]
Description=status led startup update
DefaultDependencies=no
After=status-led.service
Requires=status-led.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/bin/echo "starting" >/tmp/status-led'

[Install]
WantedBy=basic.target
