# This service can be used to run your code automatically on startup. Look in
# HACKING.md for instructions on creating main.py and enabling it.

[Unit]
Description=voice recognizer
After=network.target systemd-timesyncd.service

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/python3 -u main.py
WorkingDirectory=/home/pi/AIY-projects-python/src
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
