[Unit]
Description=Google AIY Voice
After=network.target ntpdate.service

[Service]
Environment=VIRTUAL_ENV=/mnt/dietpi_userdata/voice-recognizer-raspi/env
Environment=PATH=/mnt/dietpi_userdata/voice-recognizer-raspi/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/mnt/dietpi_userdata/voice-recognizer-raspi/env/bin/python3 -u src/main.py
WorkingDirectory=/mnt/dietpi_userdata/voice-recognizer-raspi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=dietpi

[Install]
WantedBy=multi-user.target
