[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Check audio
Comment=Check that the voiceHAT audio input and output are both working.
Exec=/home/pi/voice-recognizer-raspi/checkpoints/check_audio.py
Terminal=true
