[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Check Cloud
Comment=Check that the Cloud Speech API can be used.
Exec=/home/pi/voice-recognizer-raspi/checkpoints/check_cloud.py
Terminal=true
