Source: aiy-projects-python
Section: misc
Priority: optional
Maintainer: AIY Projects <support-aiyprojects@google.com>
Build-Depends: git, debhelper (>= 10)
Standards-Version: 3.8.1

Package: aiy-projects-python
Architecture: all
Depends: python3, avahi-utils, libttspico-utils, aiy-voicebonnet-soundcard-dkms, aiy-vision-dkms, aiy-models, aiy-dkms, pwm-soft-dkms, leds-ktd202x-dkms, git, ${misc:Depends}
Description: AIY Python API
