#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	git tag aiy-github e48363018e37b1fdc22d5ddc4b221db97c2cf47b
	git bundle create debian/aiy-projects-python/opt/aiy/projects-python.bundle aiy-github
	git tag -d aiy-github
	dh_install
