#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

AIY_GITHUB_COMMIT ?= $(shell git rev-parse HEAD)

%:
	dh $@

override_dh_auto_build:

override_dh_auto_test:

override_dh_install:
	git tag aiy-github $(AIY_GITHUB_COMMIT)
	git bundle create debian/aiy-projects-python/opt/aiy/projects-python.bundle aiy-github
	git tag -d aiy-github
	dh_install
