[Unit]
Description=AIY Object Meter Demo

[Service]
Type=simple
Restart=no
ExecStart=/usr/bin/python3 /home/pi/AIY-projects-python/src/examples/vision/object_meter/object_meter.py

[Install]
WantedBy=multi-user.target
