# This service can be used to run your code automatically on startup.

[Unit]
Description=voice recognizer
After=network.target systemd-timesyncd.service

[Service]
ExecStart=/usr/bin/python3 -u examples/voice/assistant_grpc_demo.py
WorkingDirectory=/home/pi/AIY-projects-python/src
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
